.courses-containerb {
  width: 100%;
  margin: 0 auto;
}

.courseBanner{
  width: 100%;
  height: 450px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #020202;
}
.courseBanner img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
h3.courses-title {
  text-align: center;
  font-size: 48px;
  margin: 40px 0 40px 0;
  font-weight: 600;
  position: relative;
  align-self: center;
  font-family: 'Montserrat', sans-serif;
}

/* h3.courses-title::after {
  content: "";
  width: 120%;
  height: 2px;
  border-bottom: 2px dotted #c91b2b;
  bottom: -15px;
  transition: .5s width ease;
  position: absolute;
  left: -10%;
  right: -10%;
  margin: 0 auto;
  animation-name: growIn;
  animation-duration: .45s;
  animation-fill-mode: both;
  animation-delay: .7s;
} */
.courses-wrapper{
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}

.courses-subtitle{
  font-size: 20px;
  font-weight: 500;
}
.courses-wrapper-inner{
  text-align: center;
}
.quote-link{
  font-style: italic;
  font-size: 15px;
  color : #c91b2b;
}
@media only screen and (max-width: 720px) {
  .courses-container {
      width: 90%;
  }
}

@media only screen and (min-width: 720px) and (max-width: 992px) {
  .courses-container {
      width: 90%;
  }
  .main-blg {
    display: flex;
    flex-direction: column;
   
  }
}



.maind {
  width: 100%;
  display: flex;
}

.card__collection {
position: relative;
display: block;
overflow: hidden;
}
.card__collection .cards {
width: 300px;
height: 400px;
display: block;
background-size: cover;
float: left;
border-radius: 15px;
position: relative;
overflow: hidden;
background-position: center;
margin: 10px;
}
.card__collection .cards--two {
position: relative;
backface-visibility: hidden;
}
.card__collection .cards--two p {
position: absolute;
top: 79%;
left: -100%;
text-transform: capitalize;
color: #fff;
font-size: 17px;
font-weight: 600;
z-index: 8;
transition: all 0.6s ease;
}
.card__collection .cards--two:hover p {
left: 7%;
}
.card__collection .cards--two:hover img {
transform: translateY(-15px);
}
.card__collection .cards--two:hover .cards--two__rect {
top: 75%;
}
.card__collection .cards--two:hover .cards--two__rect:before {
transform: translateY(15px);
}
.card__collection .cards--two:hover li {
transform: translateY(0);
}
.card__collection .cards--two:hover .cards--two__tri {
right: -50%;
}
.card__collection .cards--two:hover .cards--two__tri:before {
right: -312px;
}
.card__collection .cards--two img {
transition: all 0.2s ease;
object-fit: cover;
width: 100%;
height: 100%;
}
.card__collection .cards--two__tri {
border-top: 230px solid transparent;
border-bottom: 180px solid transparent;
border-right: 288px solid #fff;
opacity: 0.9;
position: absolute;
display: block;
top: 0;
right: -100%;
transition: all 0.3s ease-in-out;
}
.card__collection .cards--two__tri:before {
border-top: 235px solid transparent;
border-bottom: 230px solid transparent;
border-right: 308px solid #000000;
position: absolute;
content: "";
display: block;
top: -220px;
right: -612px;
transition: all 0.3s ease-in-out;
transition-delay: 0.2s;
}
.card__collection .cards--two__rect {
width: 750px;
height: 200px;
background: #fff;
display: block;
position: absolute;
top: 175%;
left: -78%;
transform: rotate(30deg);
z-index: 5;
opacity: 0.9;
transition: all 0.3s ease-in-out;
}
.card__collection .cards--two__rect:before {
content: "";
display: block;
width: 100%;
position: relative;
height: 100%;
background: #ed1923;
transform: translateY(200px);
z-index: 2;
transition: all 0.3s ease-in-out;
transition-delay: 0.1s;
}
.card__collection .cards--two ul {
  list-style: none;
  position: relative;
  bottom: 17px;
  left: 92px;
  z-index: 2;
  margin: 0px;
}
.card__collection .cards--two:hover p {
left: 7%;
}
.card__collection .cards--two ul li {
display: inline-block;
font-size: 16px;
margin: 7px;
color: #fff;
transition: all 0.2s ease-in-out;
transform: translateY(100px);
position: relative;
top: 7px;
}
.card__collection .cards--two ul li:nth-child(2) {
transition-delay: 0.2s;
}
.card__collection .cards--two ul li:nth-child(3) {
transition-delay: 0.3s;
}
.card__collection .cards--two ul li:nth-child(4) {
transition-delay: 0.4s;
}
.blog-row {
display: flex;
flex-wrap: wrap;
gap: 20px;
margin-bottom: 20px;
}
.main-blg {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.06);
}
.blog {
background-color: #222;
border-radius: 0px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
overflow: hidden;
flex: 1 0 calc(33.33% - 20px);
display: flex;
flex-direction: column;
width:100%;
margin:10px;
}

.blog-image {
position: relative;
height: 250px;
overflow: hidden;
padding: 15px;
}

.blog-image img {
width: 100%;
height: 100%;
transition: transform 0.3s;
object-fit: cover;
object-position: center;
border-radius: 4px;
}

.blog-image img:hover {
transform: scale(1.05);
}

.blog-image .date {
position: absolute;
bottom: 10px;
left: 10px;
background-color: rgba(0, 0, 0, 0.7);
color: #fff;
padding: 5px 10px;
border-radius: 3px;
font-size: 14px;
}

.blog-content {
padding: 10px 15px 20px 15px;
display: flex;
flex-direction: column;
flex-grow: 1;
height: 250px;
}
.blog-content span{
  color: #fff;
  font-weight: 500;
  margin-bottom: 10px;
  display: block;
  width: 100%;
  font-size: 16px;
}
.blog-image span{
  background: rgb(256, 256, 256, 0.5);
  padding: 7px 10px;
  border-radius: 10px;
  position: absolute;
  right: 30px;
  top: 30px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
}

.blog-content h2 {
  font-size: 16px;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 600;
  width: 100%;
  margin-top: 0px;
  line-height: inherit;
  height: 55px;
}
.blog-content p {
  flex-grow: 1;
  color: #fff;
  margin-bottom: 20px;
  margin-top: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.blog-content a {
  text-decoration: none;
  padding: 0px 0px;
  border-radius: 5px;
  transition: background-color 0.3s;
  color: #ed1923;
  font-weight: 600;
  justify-content: flex-end;
  display: flex;
}

.blog-content a:hover {
 text-decoration: underline;
}
@media only screen and (max-width : 1024px){
  .suprts1 p {
    font-size: 17px!important;
    font-weight: 400;
    text-align: left !important;
    width: 95%!important;
    margin: 10px 0!important;
}
  .blog-content a {
    text-decoration: none;
    padding: 0px 0px;
    border-radius: 5px;
    transition: background-color 0.3s;
    color: #ed1923;
    font-weight: 600;
    justify-content: flex-end;
    display: flex;
    font-size: 18px;
  }
  .right-column {
    flex: 0.6;
    padding: 0px 20px !important;
    border-radius: 8px;
    width:100%;
  }
  .blog-image {
    position: relative;
    height: 190px;
    overflow: hidden;
    padding: 15px;
    }
  .blog-content p {
    flex-grow: 1;
    color: #fff;
    margin-bottom: 20px;
    margin-top: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
  }

  .main-blg{
    display: flex!important;
    flex-direction: column!important;
  }
  .bqn1{
    height: auto!important;
  }
}
.t-icon svg{
  color: #fff;
  font-size: 20px;
  margin-right: 4px;
  font-weight: bold;
}
.t-icon{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(0, 0, 0, 0.7) !important;
    color: #fff;
}
.courses-wrapperblog {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.left-column {
  flex: 2;
}

.right-column {
  flex: 0.6;
  padding: 30px 20px;
  border-radius: 8px;
  position: sticky;
  top: 60px; /* Adjust based on your header height */
  align-self: start; /* Important when used inside flex/grid */
}
.checkbox-label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.catext li{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
 
}
.catext{
  margin-bottom: 0px;
}
.selected {
  color: red; 
  font-weight: bold;
  cursor: pointer;
}

.textrightpc{
  color: #fff;
  margin-left: 6px;
  font-size: 16px;
  font-weight: 700;
}
.textrightpc p{
  padding: 0px;
  margin: 10px 0px 10px 0px;
}
.textpostc{
  border: 1px solid #181717;
  padding: 0px;
  width: 100%;
  height: auto !important;
  margin-top: 20px;
  }
  .textpostc li{
  display: flex;
  width: 100%;
  margin: 0px auto;
  align-items: flex-start;
  justify-content: center;
  border-bottom: 1px solid#2b2929;
  cursor:default;
  
  }
  .textpostc li:last-child{
     border-bottom: 0px;
    }
  .textposthc{
      color: #fff;
      font-size: 20px;
      font-weight: 700;
      background: #c40d0d;
      padding: 7px 15px;
      text-align: center;
      margin-top: 0px;
      text-transform: uppercase;
    }
    .texpost ul{
      width:350px;
    }
   
    
    .not-found-container {
      text-align: center;
      padding: 20px;
    }

    .not-found-container img {
      width: 100px;
 
    }

    .not-found-container h2 {
      font-size: 20px;
      margin: 0 0 10px;
      color:#fff;
      display: flex;
      align-items: center;
      justify-content: center;
        }

    .not-found-container p {
      font-size: 14px;
      color: #777;
      margin-bottom: 20px;
    }

    .not-found-container button {
      background-color: #c40d0d;
      color: #fff;
      border: none;
      padding: 10px 24px;
      border-radius: 24px;
      font-size: 14px;
      cursor: pointer;
      transition: 0.3s;
    }

    .not-found-container button:hover {
      background-color: #c40d0d;
    }
    .mainblogr{
      margin: 0px auto;
      width: fit-content;
    }