.courses-container {
    width: 90%;
    margin: 0 auto;
}

.courseBanner {
    width: 100%;
    height: 450px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #020202;
}

.courseBanner img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

h3.courses-title {
    text-align: center;
    font-size: 48px;
    margin: 0px 0 40px 0;
    font-weight: 600;
    position: relative;
    align-self: center;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}



.courses-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
}

.courses-subtitle {
    font-size: 20px;
    font-weight: 500;
}

.courses-wrapper-inner {
    text-align: center;
}

.quote-link {
    font-style: italic;
    font-size: 15px;
    color: #c91b2b;
}

@media only screen and (max-width: 720px) {
    .courses-container {
        width: 90%;
    }
}

@media only screen and (min-width: 720px) and (max-width: 992px) {
    .courses-container {
        width: 90%;
    }
}

.infinite-scroll-component {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    width: 100%;
    padding: 3px !important;
}

.footercard {
    z-index: 1;
    position: absolute;
    height: 180px;
    width: 100%;
    bottom: 0;
}

.card {
    border-radius: 8px;
    height: 450px;
    width: 400px;
    margin: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 50px -10px black;
    overflow: hidden;
}

.card-blur {
    position: absolute;
    height: 100%;
    width: calc(100% + 1px);
    background-color: black;
    opacity: 0;
    transition: opacity 0.15s ease-in;
}

.card:hover .card-blur {
    opacity: 0.6;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}



svg#curve {
    position: absolute;
    fill: white;
    left: 0;
    bottom: 0;
    width: 400px;
    height: 450px;
}

.connections {
    height: 180px;
    width: 400px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100px;
    margin: auto;
}

.connection {
    display: inline-block;
    padding: 5px;
    margin-right: 25px;
    transform: translateY(200px);

    transition: transform 1s cubic-bezier(.46, 1.48, .18, .81);
}

.card:hover .connection {
    transform: translateY(0px);
}

.info {
    padding-left: 20px;
    transform: translateY(250px);
    background: #fff;
    transition: transform 1s cubic-bezier(.31, 1.21, .64, 1.02);
}

.card:hover .info {
    transform: translateY(0px);
}

.name {
    font-weight: bolder;
    padding-top: 5px;
}

.job {
    margin-top: 10px;
}

.connection.facebook {
    height: 60px;
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 20px;
    padding: 0px;
    overflow: hidden;
    color: #fff;
    font-weight: 600;
    font-size: 21px;
    margin-bottom: 20px;
}

.connection.facebook a {
    color: #fff;
}

.connection.twitter {
    transition-delay: 0.06s;
    height: auto;
    width: 90%;
    margin-left: 20px;
    padding: 0px;
    overflow: hidden;
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}

.connection.behance {
    transition-delay: 0.12s;
}

.connection.facebook .icon {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-color: black;
}

.connection.twitter .icon {
    height: 18px;
    width: 18px;
    margin-top: 4px;
    margin-left: 4px;
    background-position: center;
    background-size: cover;
}

.connection.behance .icon {
    height: 18px;
    width: 18px;
    margin-top: 3px;
    margin-left: 4px;
    background-position: center;
    background-size: cover;
}

@media only screen and (max-width: 1020px) and (min-width: 320px) {
    .site-content {
        width: 100% !important;
        margin: auto;
        padding: 0 0px !important;
    }

    .mainCourse {
        flex-direction: column;
    }

    .mainCourseLeft {
        width: 100% !important;
        height: 176px !important;
    }

    .mainCourseRight {
        width: 100% !important;
        padding-left: 0% !important;
        height: auto !important;
    }

    .mainCourseRight h2 {
        font-size: 19px !important;
        line-height: 32px !important;
        width: 100% !important;
        margin-top: 20px !important;
    }

    .mainCourseRight p {
        width: 100% !important;
    }

    .courses-wrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: 0px !important;
    }
}

.card {
    background-image: url("https://www.backstagepass.co.in/zgast/studentWorks/2d/12.webp")
}

.site-content {
    width: 100%;
    margin: auto;
    padding: 0 10px;
}

.row:first-child {
    margin-top: 50px;
}

.col-sm-4 {
    /*   outline: 2px dotted blue;  */
    height: 250px;
    margin-bottom: 10px;
    float: left;
    margin-right: 26px;
}

.col-sm-8 {
    /*   outline: 2px dotted yellow;  */
    height: 250px;
    margin-bottom: 10px;

}

.col-sm-8>div.description {
    display: table-cell;
    height: 250px;
    vertical-align: middle;
    color: #fff;
}

.col-sm-8>div.description p {
    font-size: 16px;

}

.col-sm-8>div.description h2 {
    font-size: 22px;
    font-weight: 700;
}

.col-sm-4>img {
    display: block;
    margin: auto;
    height: 250px;
    width: 250px;
}

.mainCourse {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 15px 0px rgba(0, 0, 0, 0.1);
}

.mainCourse:hover .CourseLink {
    background: #333;
    color: #ed1923;
}

.mainCourse:hover .CourseHead {
    color: #ed1923;
}

.mainCourseLeft {
    width: 32%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainCourseLeft img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.mainCourseRight {
    width: 68%;
    height: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 3%;
    flex-direction: column;
}

.mainCourseRight h2 {
    color: #ec1923;
    font-size: 27px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 20px;
    line-height: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.mainCourseRight p {
    color: #000;
    font-size: 16px;
    text-transform: math-auto;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 10px;
    line-height: 30px;
    width: 90%;
}

.CourseLink {
    color: #fff;
    margin: 20px 0px;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none !important;
    font-size: 16px;
}

.CourseLink:hover {
    color: #ed1923;
    text-decoration: underline;
}

.CourseLink svg {
    margin-left: 7px
}

.programs-section {
    padding: 0px 20px 30px;
    background-color: #ffffff;
}

.programs-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.programs-subtitle {
    color: #16a34a;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 5px;
}

.programs-title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}

.programs-description {
    color: #555;
    margin-bottom: 40px;
    font-size: 16px;
}

/* Grid Layout */
.programs-row {
    margin-bottom: 40px;
}

.row-heading {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 20px 0;
}

.programs-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 cards per row */
    gap: 20px;
    margin-bottom: 40px;
}

.center-heading {
    text-align: center;
    margin: 30px 0 30px;
}

.program-heading-row {
    width: 90%;
    text-align: center;
    margin: 0px auto;
}


/* Card Design */
.program-card {
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.program-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.program-card img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.program-content {
    padding: 0px 10px 28px;
}

.program-content h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    margin: 0px;
    line-height: 26px;
    color: #ec1923;
    height: 45px;
    text-align: left;
}

.program-content p {
    color: #000;
    font-size: 14px;
    margin-bottom: 12px;
    text-align: left;
    padding: 8px 4px;
}



/* Button */
.programs-button {
    margin-top: 40px;
}



/* View All button styling */
.view-all-btn {
    display: block;
    margin: 1rem auto 2rem;
    padding: 0.5rem 1rem;
    background-color: #ed1923;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
}

.view-all-btn:hover {
    background-color: #ed1923;
}

/* Mobile: 1 card per row */
@media (max-width: 768px) {
    .programs-grid {
        grid-template-columns: 1fr;
    }
}