.courses-container {
    width: 90%;
    margin: 0 auto;
}
.courseBanner{
    width: 100%;
    height: 450px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #020202;
}
.courseBanner img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
h3.courses-title {
    text-align: center;
    font-size: 48px;
    margin: 40px 0 40px 0;
    font-weight: 600;
    position: relative;
    align-self: center;
    font-family: 'Montserrat', sans-serif;
}
.active .ss-item-demo-2 {
  font-weight: bold;
  color: #ed1923;
}
.ss-item-demo-2{
  color: #000;
  cursor: pointer;
}

.courses-wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.courses-subtitle{
    font-size: 20px;
    font-weight: 500;
}
.courses-wrapper-inner{
    text-align: center;
}
.quote-link{
    font-style: italic;
    font-size: 15px;
    color : #c91b2b;
}
@media only screen and (max-width: 720px) {
  .courses-container {
      width: 90%;
  }
  .CourseesOverView {
    flex-direction: column;
}
.courseUpdates ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr) !important;
}
.Objectives1 {
grid-template-columns: repeat(1, 1fr) !important;
width: 90% !important;
    margin: 0 auto !important;
}
.Objectives1 li {
text-align: left !important;
}
.courseUpdates1 ul {
grid-template-columns: repeat(1, 1fr) !important;
}
.courseUpdates1 ul li{
width: 90% !important;
height: auto !important;
}
.BeyondRight {
margin-left: 20px !important;
}
.BeyondRight .lsh {
font-size: 19px !important;
font-weight: 600 !important;
}
.courseUpdates1 ul li p {
width: 100% !important;
}
}

@media only screen and (min-width: 720px) and (max-width: 992px) {
  .courses-container {
      width: 90%;
  }
}


.CourseesOverView {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 40px;
}
.sidebarview{
  display: flex;
  width: 100%;
  /* background-image: url(../../../assets/img/banners/Concept.webp); */
  background-color: #222;
  background-position: center;
  padding: 0px 15px;
  border-radius: 0px;
}
.sidebarview ul{
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0%;
  width: 100%;
  padding: 20px;
}

.sidebarview ul li{
    padding-bottom: 35px;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    z-index: 9;
}

.ss-active-demo-2 {
    color: #c91b2b;
    
  }
  .courseHeading{
    font-size: 42px;
    font-weight: 900;
    margin: 30px 0px 30px 0px;
    color: #ec1923;
  }
  .courseHeading2{
    font-size: 21px;
    font-weight: 600;
    margin: 30px 0px 30px 0px;
    color:#fff;
  }
  .courseUpdates ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    width: 100%;
    margin-top: 40px;
  }
  .courseUpdates ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .courseUpdates ul li img {
    width: 80px;
    height: 80px;
    object-fit: scale-down;
    object-position: center;
}
@keyframes updown {
    0% {
      transform: translateY(-7%);
    }
  
    50% {
      transform: translateY(7%);
    }
  
    100% {
      transform: translateY(-7%);
    }
  }
.courseUpdates ul li p {
    font-size: 19px;
    font-weight: bold;
    color:#000;
    margin-top: 20px;
    text-align: center;
}
.normaltext{
    font-size: 19px;
    font-weight: 500;
    line-height: 28px;
    width: 100%;
    text-align: justify;
    color: #000;
}
.Objectives {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: '\2713' !important;
    margin-left: 23px;
}
.Objectives li {
    padding-left: 15px;
    font-size: 19px;
    font-weight: 500;
    line-height: 28px;
    width: 100%;
    text-align: justify;
    color: #000;
    margin-bottom: 10px;
}



.Objectives1h{
  font-size: 21px;
  color: #fff;
}

.Objectives1 {
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5rem;
  padding: 0rem 0% 0rem 0%;
  width: 100%;
  margin-left: 25px;
}
.Objectives1 li {
  list-style: outside;
  font-size: 19px;
  font-weight: 500;
  line-height: 28px;
  width: 100%;
  text-align: justify;
  color: #000;
  margin-bottom: 10px;
}

.courseUpdates1 ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
    width: 100%;
    margin-top: 40px;
    column-gap: 50px;
  }
  .BeyondLeft{
    position: absolute;
    left: -40px;
    background: #fff;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -20px;
    width: 64px;
    height: 64px;
    box-shadow: 0 2px 15px 0px rgba(0, 0, 0, 0.1);
  }
  .courseUpdates1 ul li {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    border: 2px solid #fff;
    height: 170px;
    background: #fff;
    color: #000;
    border-radius: 15px;
    width: 100%;
    padding: 20px;
    position: relative;
    margin-left: 30px;
    box-shadow: 0 2px 15px 0px rgba(0, 0, 0, 0.1);
  }
  .courseUpdates1 ul li img {
    width: 80%;
    height: 50px;
    object-fit: scale-down;
    object-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.courseUpdates1 ul li p {
  font-size: 19px;
  font-weight: 500;
  text-align: left;
  margin: 10px 0px;
  width: 100%;
}
.BeyondRight{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  align-items: flex-start;
  justify-content: flex-start;
   color:#000;
}
.BeyondRight .lsh{
  font-size: 24px;
  margin: 0px 0px;
  display: flex;
  width: 100%;
  font-weight: 500;
    color: #ed1923;
}

.active-scroll-spy{
  color: #ed1923;
}





.card__collection {
  position: relative;
  display: block;
  overflow: hidden;
}
.card__collection .cards {
  width: 300px;
  height: 400px;
  display: block;
  background-size: cover;
  float: left;
  border-radius: 0px;
  position: relative;
  overflow: hidden;
  background-position: center;
  margin: 10px;
}
.card__collection .cards--two {
  position: relative;
  backface-visibility: hidden;
}
.card__collection .cards--two p {
  position: absolute;
  top: 70%;
  left: -120%;
  text-transform: capitalize;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  z-index: 8;
  transition: all 0.6s ease;
}
.card__collection .cards--two:hover p {
  left: 7%;
}
.card__collection .cards--two:hover img {
  transform: translateY(-15px);
}
.card__collection .cards--two:hover .cards--two__rect {
  top: 70%;
}
.card__collection .cards--two:hover .cards--two__rect:before {
  transform: translateY(15px);
}
.card__collection .cards--two:hover li {
  transform: translateY(0);
}
.card__collection .cards--two:hover .cards--two__tri {
  right: -50%;
}
.card__collection .cards--two:hover .cards--two__tri:before {
  right: -312px;
}
.card__collection .cards--two img {
  transition: all 0.2s ease;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.card__collection .cards--two__tri {
  border-top: 230px solid transparent;
  border-bottom: 180px solid transparent;
  border-right: 288px solid #fff;
  opacity: 0.9;
  position: absolute;
  display: block;
  top: 0;
  right: -100%;
  transition: all 0.3s ease-in-out;
}
.card__collection .cards--two__tri:before {
  border-top: 235px solid transparent;
  border-bottom: 230px solid transparent;
  border-right: 308px solid #fff;
  position: absolute;
  content: "";
  display: block;
  top: -220px;
  right: -612px;
  transition: all 0.3s ease-in-out;
  transition-delay: 0.2s;
}
.card__collection .cards--two__rect {
  width: 830px;
  height: 220px;
  display: block;
  position: absolute;
  top: 175%;
  left: -48%;
  transform: rotate(30deg);
  z-index: 5;
  opacity: 0.9;
  transition: all 0.3s ease-in-out;
}
.card__collection .cards--two__rect:before {
  content: "";
  display: block;
  width: 100%;
  position: relative;
  height: 100%;
  background: rgb(0,0,0,0.5);
  transform: translateY(200px);
  z-index: 2;
  transition: all 0.3s ease-in-out;
  transition-delay: 0.1s;
}
.card__collection .cards--two ul {
    list-style: none;
    position: relative;
    bottom: -42px;
    left: -11px;
    z-index: 2;
    margin: 0px;
}
.card__collection .cards--two:hover p {
  left: 7%;
}
.card__collection .cards--two ul li {
  display: inline-block;
  font-size: 16px;
  margin: 7px;
  color: #fff;
  transition: all 0.2s ease-in-out;
  transform: translateY(100px);
  position: relative;
  top: 7px;
}
.card__collection .cards--two ul li:nth-child(2) {
  transition-delay: 0.2s;
}
.card__collection .cards--two ul li:nth-child(3) {
  transition-delay: 0.3s;
}
.card__collection .cards--two ul li:nth-child(4) {
  transition-delay: 0.4s;
}
.css-1ujykiq-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: #fff !important;
    font-size: 16px;
    font-weight: 600;
    background-color: #ed1923 !important;
}
.css-1mm5wr7-MuiChip-root .MuiChip-icon {
    margin-left: 5px;
    margin-right: -6px;
    color: #ed1923 !important;
}
.css-6od3lo-MuiChip-label {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 12px;
    padding-right: 12px;
    white-space: nowrap;
    font-weight: 700;
}

.css-1ujykiq-MuiButtonBase-root-MuiTab-root {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    max-width: none;
    min-width: 90px;
    position: relative;
    min-height: 48px;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    padding: 12px 16px;
    overflow: hidden;
    white-space: normal;
    text-align: center;
    -webkit-flex-direction: column;
    color: #fff !important;
    -ms-flex-direction: column;
    flex-direction: column;
    /* color: rgba(0, 0, 0, 0.6); */
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
}



.css-1aquho2-MuiTabs-indicator {
    position: absolute;
    height: 2px;
    bottom: 0;
    width: 100%;
    -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #ed1923 !important;

}


.innerhd{
    text-align: center;
    margin: 0px;
    color: #000 !important;
    font-weight: normal !important;

}
.secobj li{
    color:#fff;
}
.br-main{
  border:1px solid#fff;
}
@media only screen and (max-width : 1024px){
  .courseHeading {
    font-size: 22px !important;
    font-weight: 900;
    margin: 30px 0px 30px 0px;
    color: #ec1923;
    text-align: center;
}
.courseUpdates ul li {
  border-bottom: 1px solid #fff !important;
  padding-top: 30px !important;
  font-size: 19px !important;
  font-weight: 400 !important;
}
.normaltext {
  font-size: 19px;
  font-weight: 400;
  line-height: 32px;
  width: 95% !important;
  text-align: left !important;
  color: #000;
  margin-top: 20px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.BeyondLeft {
  position: absolute;
  left: -40px;
  background: #fff;
  border-radius: 50%;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -20px;
  width: 58px;
  height: 58px;
    box-shadow: 0 2px 15px 0px rgba(0, 0, 0, 0.1);
}
}
.css-1ujnqem-MuiTabs-root{
  background: #222;
}
