.suprts {
  width: 65%;
  margin: 0 auto;
  margin-bottom: 30px;
  color: #fff;
  text-align: center;
  font-size: 19px;
  font-weight: 500;
  margin-top: 30px;
}

.figures {
  position: relative;
  text-align: center;
  overflow: hidden; /* Ensure the figcaption doesn't overflow */
  max-width: 400px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto;
  /* border-top-left-radius: 20px;
  border-top-right-radius: 20px; */

}

.figures img {
  width: 100%;
  height: 193px;
  object-fit: cover;
  object-position: center;

}

figcaptions {
  background: #222;
  color: #000;
  padding: 15px 25px;
  width: 400px;
  height:120px;
}


.maincoll {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.maincoll .maincolltwo {
  position: relative;
  backface-visibility: hidden;
  width: 400px;
}
.cardss {
  position: relative;
  margin: .5rem 0 1rem;
  background-color: #000;
  transition: box-shadow .25s;
  border-radius: 2px;
}
.mainggameing p {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  margin-top: 0px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 8px;
  font-family: 'Montserrat', sans-serif !important;

}
.mainggameing div {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  margin-top: 0px;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif !important;

 
}


.containers{
  max-width: 850px;
  padding: 28px;
  margin: 0 28px;
  border-radius: 0px;
  overflow: hidden;
  background: #222;
  box-shadow: 0 15px 20px rgba(0, 0, 0, .6);

}
.fom-ad{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 850px;
}


.contents{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}

.input-boxs{
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding-bottom: 15px;
}

.input-boxs:nth-child(2n){
  justify-content: end;
}

.input-boxs label{
  width: 95%;
  color: #FFF;
  font-weight: 400;
  margin: 5px 0;
  font-size: 16px;
}



.input-boxs input{
  height: 40px !important;
  width: 95% !important;

}


.button-containers{
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-containers button{
  width: 30%;
  font-weight: bold;
  margin-top: 10px;
  padding: 10px;
  display: block;
  font-size: 20px;
  color: #fff;
  border: none;
  border-radius: 10px;
  background: #ed1923;
  cursor: pointer;
  transition: .3s;
}

.button-containers button:hover{
  background: #000;
}

@media(max-width: 600px){
  .containers{
      min-width: 100%;
  }
  .contents{
      max-height: fit-content;
      overflow: auto;
  }
  .input-boxs{
      margin-bottom: 12px;
      width: 100%;
  }
  .input-boxs:nth-child(2n){
      justify-content: space-between;
  }

  .contents::-webkit-scrollbar{
      width: 0;
  }
}
.rfm-initial-child-container {
  height: 110px;
}
.rfm-initial-child-container {
  flex: 0 0 auto;
  display: flex;
  min-width: auto;
  flex-direction: row;
  align-items: center;
}
.rfm-child {
  transform: perspective(300px) translate3d(0, 0, 0);
  background: none;
  margin-right: 15px;
  margin-left: 15px;
  height: auto;
  border-radius: 6px;
  padding: 10px;
  display: flex;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 8px;
}
.recuitersList img {
  width: 220px;
  height: 80px;
  padding-left: 10px;
  padding-right: 10px;
  object-fit: contain;
  object-position: center center;
}
@media only screen and (max-width : 1024px){
  .maincoll {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    /* overflow: scroll; */
    overflow-x: scroll!important;
    scrollbar-width: thin;
}
  figcaptions {
    background: #222;
    color: #000;
    padding: 4px 25px;
    width: 360px;
    height: 98px;
}
  .suprts {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-top: 0px !important;
}
.fom-ad {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 620px;
}
.mainHeadingTotal {
  font-size: 19px !important;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
  width: 100%;
  letter-spacing: 1px;
  text-align: center;
}
.input-boxs {
  margin-bottom: 0px;
  width: 100%;
}
.contents {
  max-height: 661px;
  overflow: auto;
}
.containers {
  max-width: 850px;
  padding: 28px;
  margin: 0 28px;
  border-radius: 0px;
  overflow: hidden;
  background: #222;
  box-shadow: 0 15px 20px rgba(0, 0, 0, .6);
  margin-top: 25px;
}

}
#Featured-Mentorsd{
  display: block;
}