.sliderPage {
  width: 90%;
  margin: 0px auto;
  text-align: center;
}

.sliderPage h2 {
    font-size: 36px;
    color: #ec1923;
    text-transform: capitalize;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    letter-spacing: 1px;
    text-align: center;
}
.courseBanner img {
  width: 100%;
  height: auto;
  display: block;
}

.emblaworkshop {
  position: relative;
 width:75%;
  margin: 0 auto;
  padding: 0px 0px 18px 0px;
}

.embla__viewportworkshop {
  overflow: hidden;
  border-radius: 12px;
}


.embla__containerworkshop {
  display: flex;
}

.awardItem {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.awardItem::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    z-index: 1;
}



.emblaworkshop button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  background:none;
  color: #fff;

  border: none;
  padding: 10px 15px;
  cursor: pointer;

  border-radius: 50%;
  font-size: 14px;
  z-index: 10;
}

.emblaworkshop button:first-of-type {
  left: -40px;
}

.emblaworkshop button:last-of-type {
  right: -40px;
}




@media (max-width: 768px) {

  .emblaworkshop {
    max-width: 100%;
  }

  .emblaworkshop button:first-of-type {
    left: -32px !important;
  }

  .emblaworkshop button:last-of-type {
    right: -32px !important;
  }

  .awardItem img {
    height: 280px;
  }
}

@media (max-width: 480px) {

  .awardItem img {
    height: 220px;
  }

  .awardItem h2 {
    font-size: 24px;
  }
}
.awardItem {
  position: relative;
  width: 100%;
}

.awardItem img {
  width: 100%;
  max-width: 1200px;
  height: 500px;
  object-fit: cover;
  border-radius: 12px;
  display: block;
}

.awardTitle {
     position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    /* background: rgba(0, 0, 0, 0.6); */
    color: #fff;
    padding: 10px 16px;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 2;
}
@media only screen and (max-width: 1024px) {
  .emblaworkshop {
    position: relative;
    width: 90% !important;
    margin: 0 auto;
    padding: 0px 0px 18px 0px;
}
  .yearlyworkshoprightside {
    flex: 1.6 1;
    padding: 0px 20px;
    border-radius: 8px;
    top: 60px;
    align-self: start;
    width: 100% !important;
}
  .yearlymain {
    display: flex;
    width: 100%;
    gap: 10px !important;
    flex-direction: column-reverse !important;
}
  .courseBanner img {
    width: 100%;
    height: auto;
    display: block;
    padding-top: 26px;
}
    .awardTitle {
    position: absolute;
    top: 4px;
    left: 50%;
    transform: translateX(-50%);
    /* background: rgba(0, 0, 0, 0.6); */
    color: #fff;
    padding: 10px 16px;
    border-radius: 8px;
    font-size: 19px !important;
    font-weight: 900;
    text-align: center;
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 2;
    text-transform: capitalize;
}
      .breadcrumbswork {
        overflow-x: auto;
        scrollbar-width: thin;
        width: 100% !important;
        white-space: nowrap !important;
        font-size: 14px !important;
        justify-content: center;
    }
.awardItem img {
  width: 100%;
  max-width: 1200px;
  height: 200px!important;
  object-fit: cover;
  border-radius: 12px;
  display: block;
}
}
.breadcrumbswork__list {
    list-style: none;
    display: flex;
    grid-gap: 10px;
    gap: 10px;
    padding: 0;
    margin: 20px 0 0;
}
.breadcrumbswork, .breadcrumbswork__list a, .breadcrumbswork__list li {
    display: flex;
    align-items: center;
}
.breadcrumbswork__list a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}
.breadcrumbswork__list .icon {
    margin-right: 5px;
    color: #999;
    font-size: 13px;
}

