.courses-container {
    width: 90%;
    margin: 0 auto;
}
.courseBanner{
    width: 100%;
    height: 450px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #020202;
}
.courseBanner img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
h3.courses-title {
    text-align: center;
    font-size: 48px;
    margin: 40px 0 40px 0;
    font-weight: 600;
    position: relative;
    align-self: center;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

/* h3.courses-title::after {
    content: "";
    width: 120%;
    height: 2px;
    border-bottom: 2px dotted #c91b2b;
    bottom: -15px;
    transition: .5s width ease;
    position: absolute;
    left: -10%;
    right: -10%;
    margin: 0 auto;
    animation-name: growIn;
    animation-duration: .45s;
    animation-fill-mode: both;
    animation-delay: .7s;
} */
.courses-wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.courses-subtitle{
    font-size: 20px;
    font-weight: 500;
}
.courses-wrapper-inner{
    text-align: center;
}
.quote-link{
    font-style: italic;
    font-size: 15px;
    color : #c91b2b;
}
@media only screen and (max-width: 720px) {
    .courses-container {
        width: 90%;
    }
}

@media only screen and (min-width: 720px) and (max-width: 992px) {
    .courses-container {
        width: 90%;
    }
}

.infinite-scroll-component {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    width: 100%;
    padding: 3px !important;
}
.footercard {
    z-index: 1;
    position: absolute;
    height: 180px;
    width: 100%;
    bottom: 0;
}

.process {
    width: 100%;
    padding: 0 15px;
    text-align: center;
    margin: 0px 0px 30px 0px;
  }
  .process__item1 {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-align: center;
    position: relative;
    padding: 15px 22px;
    transition: 0.4s ease-in-out;
      position: relative;
  padding: 15px;
  transition: all 0.3s ease;
  cursor: pointer;
  }
  .process__item1:hover {
    background: #f9fafb;
    transform: scale(1.1);
    margin-right: 30px;
    margin-left:30px;
  }
  .process__item1:hover .process__number1 {
    transform: translateY(0px);
    color: #fff;
    -webkit-text-stroke: 1px #fff;
    background: #eb1a23;
    font-size: 32px;
    display: block;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 700;
    transition: 0.4s 
ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    top: -36px;
    position: absolute;
    margin: 0px auto;
    left: 106px;
    border: 3px solid #eb1a23;
}
 .process__number1 {
    background: #eb1a23;
    font-size: 32px;
    display: block;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 700;
    transition: 0.4s 
ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    top: -34px;
    position: absolute;
    margin: 0px auto;
    left: 112px;
    border: 3px solid #eb1a23;
    color: #ffffff;
    
}
  .process__title {
    display: block;
    /* font-family: "Roboto Condensed"; */
    font-weight: 700;
    letter-spacing: 1.5px;
    font-size: 18px;
    color: #eb1a23;
    text-transform: capitalize;
    margin-top: 40px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid#ebe6e6;
      position: relative;
  display: inline-block;
  padding-bottom: 5px;
  font-weight: 600;
  cursor: pointer;
}
.process__subtitle {
    display: block;
    /* font-family: "Josefin Slab"; */
    font-size: 15px;
    color: #000;
    margin-top: 10px;
    line-height: 30px;
    text-align: left;
    font-weight: 500;
}
  
  @media (min-width: 768px) {
    .process {
      display: inline-block;
    }
    .process__item1 {
      width: 49%;
      display: inline-block;
      background: #f9fafb;
      border:1px solid #f0e7e7 !important;
      box-shadow: 10px 4px 15px rgba(0, 0, 0, 0.1);
      margin-right: 20px;
    }
    .process__item1:last-child {
  
      margin-right: 0px;
    }
  }
  @media (min-width: 1200px) {
    .process {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .process__item1 {
      width: 100%;
    }
  
  }

  .adminissionPTagad{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
    color: #000;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
  }
 .adminissionPTagadp{
    width: 90%;
    margin: 15px auto;
    margin-bottom: 10px;
    color: #000;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
  }

@media only screen and (max-width : 1024px){
  .courses-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
}
  .bgforprocess{
      background: #dddddd61;
    padding: 20px !important;
    padding-bottom: 24px;
    border-radius: 10px;
}
  .process__number1 {
    background: #ed1923;
    font-size: 16px;
    display: block;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 700;
    transition: 0.4s 
ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    top: -30px;
    position: absolute;
    margin: 0px auto;
    left: 126px;
    border: 3px solid #ed1923;
}
  .process__item1:hover .process__number1 {
    transform: translateY(0px);
    color: #fff !important;
    -webkit-text-stroke: 1px #fff;
        width: 54px !important;
    height: 54px !important;
    top: -36px;
    position: absolute;
    margin: 0px auto;
    left: 130px !important;
    font-size:22px !important;
  }
  .process__item1:hover {
    background: #f9fafb;
    transform: none;
    margin-right: 0px;
    margin-left:0px;
  }
  .process__subtitle {
    display: block;
    /* font-family: "Josefin Slab"; */
    font-size: 16px!important;
    color: #000;
    margin-top: 10px;
    line-height: 30px;
    text-align: left;
    font-weight: 500;
}
.bgchange {
    width: 100%;
    margin-bottom: 25px;
    border: 1px solid #f2f2f2;
    padding: 13px!important;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 0 2px 15px 0px rgba(0, 0, 0, 0.1);
}
  .mainic p {
    font-weight: 900;
    font-size: 14px!important;
    margin-bottom: 4px;
    margin-top: 0px;
    text-align: left;
    width: 100%;
    color: #ec1923;
}
.mainic {
    font-size: 14px !important;
    color: #000;
}
  .adminissionPTagad {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    color: #000;
    text-align: left !important;
    font-size: 16px;
    font-weight: 400 !important;
}
.adminissionPTagadp {
    width: 100%;
    margin: 12px auto;
    margin-bottom: 10px;
    color: #000;
    text-align: left !important;
    font-size: 16px;
    font-weight: 400 !important;
}
.process__item1 {
  -webkit-user-select: none;
  user-select: none;
  text-align: center;
  position: relative;
  padding: 15px 22px;
  transition: 0.4s ease-in-out;
  margin-top: 24px;
  background: #f9fafb;
      box-shadow: 10px 4px 15px rgba(0, 0, 0, 0.1);
margin-bottom: 40px;
}

.process {
  width: 100%;
  padding: 0 0px;
  text-align: center;
  margin: 20px 0px;
}
#infinity {
  width: 100px;
  box-sizing: content-box;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
}
.process__title {
  display: block;
  /* font-family: "Roboto Condensed"; */
  font-weight: 700;
  letter-spacing: 1.5px;
  font-size: 18px;
  color: #000;
  text-transform: capitalize;
  margin-top: 20px;
  width: 100%;
  text-align: center;
}
}
.bgforprocess{
      background: #dddddd61;
    padding: 65px;
    padding-bottom: 24px;
    border-radius: 10px;
}
.process__title:hover{
    display: block;
    /* font-family: "Roboto Condensed"; */
    font-weight: 700;
    letter-spacing: 1.5px;
    font-size: 16px !important;
    color: #000;
    text-transform: capitalize;
    margin-top: 40px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid#ebe6e6;
}

/* Optional hover background or shadow for li */
.process__item1:hover {
  border-radius: 8px;
}


/* Initially hidden underline */
.process__title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0;
  background-color: #eb1a23; /* Red underline color */
  transition: width 0.4s ease-in-out;
}

/* Animate underline when li is hovered */
.process__item1:hover .process__title::after {
  width: 100%;
}

