.courses-container {
    width: 90%;
    margin: 0 auto;
}



.hero-image-desktop {
  display: none;
}

/* ---------- HERO BANNER DECLERATIONS ---------- */
.hero-banner {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.hero-banner .logo-wrapper {
  height: auto;
  margin: 0 auto;
  padding: 1rem 0;
  width: auto;
}
  
  .logo-wrapper img {
      display: block;
      height: 2.5rem;
      margin: 0 auto;
      width: auto;
  }

.hero-banner .hero-image {
  background-image: url(https://assets.codepen.io/6060109/athlete-girl.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 376px;
  width: 100%;
}

/* ---------- TEXT INFO DECLERATIONS ---------- */
.text-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

  .text-info > * {
      padding: 0 2.5rem 1rem;
  }

  /* intended for the first h2 within .text-info */
  .text-info h2:nth-child(1) {
    color: #ee1b24;
    font-weight: 600;
    padding-top: 0rem;
    padding-bottom: 1rem;
  }

  .text-info h2 {
      font-size: 5.5rem;
      font-weight: bold;
      color: #fff;
      letter-spacing: 5px;
      text-transform: uppercase;
  }

  .text-info p {
      color: #fff;
      line-height: 40px;
      font-size: 32px;
  }

 

@media only screen and (min-width: 768px) {
 



  .mobile-container {
      width: 45vw;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
  }

  .hero-banner .logo-wrapper {
      margin-left: 3.5rem;
      width: 100%;
      display: flex;
      align-items: start;
      flex-direction: column;
  }
      .logo-wrapper img {
          margin: 0 0 0;
          padding-left: 2.5rem;
      }

  .hero-image {
      display: none;
  }

 

  .hero-image-desktop {
      display: block;
      height: 100%;
      width: 55vw;
  }

  .hero-image-desktop img {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
      height: 100%;
      object-fit: cover;
      width: 100%;
      margin-left: 10%;
      margin-bottom: -7px;
  }

  
}