.content-block {
    
    background-attachment: fixed;
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.content-block7{
    background: #077187;
    background-attachment: fixed;
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 20px 0px 70px 0px;
}
.content-container {
    width: 80%;
    margin: 0 auto;
}
.mb60{
  margin-bottom: 4rem;
}
.big-title {
    flex-direction: row;
    font-size: 30px;
    transform: translate(0);
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
}
.big-title1 {
    flex-direction: row;
    font-size: 30px;
    transform: translate(0);
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
}
.CounterIcon {
  font-size: 40px;
  margin-right: 20px;
  display: flex;
  color: #ffffff;
}
.textCenter{
  text-align: center;
}
.numbers {
    display: flex;
    justify-content: space-around;
  }
  
  .number {
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
  
  .number .counter {
    font-weight: bold;
    font-style: italic;
    font-size: 1.9em;
    margin: 6px 0;
    color: #ffffff;
  }
  .number span {
    font-size: 45px;
    display: block;
    color: #000;
    font-weight: bold;
  }
 .section-title7 {
    text-align: center;
    margin: 25px 0px 60px 0px;
}
.section-title7 .pre-title {
  font-weight: 800;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  display: inline-block;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: .1em;
}
.section-title7 .title {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 40px;
  font-weight: 800;
  line-height: 1.4;
  word-break: break-word;
    color: #ffffff;
}

.counter-wrapper h2{
  width: 100%;
  display: flex;
  font-size: 28px;
}

.counter-wrapper{
  
 position: relative;
    margin-top: 0rem;
    background: #f9fafb;
    z-index: 1;
    box-shadow: 0 2px 15px 0px rgba(0, 0, 0, 0.1);
}
.counter-wrapper1{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 1.5rem;
  padding: 0rem 3% 1rem 3%;
  
}
/* .counter-wrapper::before{
  position: absolute;
  content: '';
  content: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  z-index: 1;
} */
.counter{
 text-align: center;   
 color: #000;
 z-index: 2;
 position: relative;
}

.counter .count{
  font-size: 5rem;
  margin: 1.9466666667rem 0 1.168rem;
  line-height: 56%;
    font-weight: 600; 
}
.counter p{
  font-size: 1rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}
.count img{
  width: 90px;
}
.counter-wrapper1 div{
  background: #f9fafb;
  font-size:60px; 
  display:flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 991px) {
  html{
      font-size: 55%;
  }
}
@media (max-width: 768px) {
 .counter-wrapper{
     grid-template-columns: repeat(2, 1fr);
     grid-row-gap: 8rem;
     margin-top: 3rem;
 }
}
@media (max-width: 450px) {
  html{
      font-size: 50%;
  }
  .counter-wrapper{
      grid-template-columns: 1fr;
  }
}
@media only screen and (max-width : 1024px) {
  .count img {
      width: 66px;
  }

  .counter-wrapper1{
      overflow:hidden;
  }
  
  .counter-wrapper1:hover{
      overflow: scroll !important;
  }
  .counter-wrapper1 {
      display: grid !important;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 0.5rem;
      padding: 0rem 3% 0rem 3%;
  }
  .mblcounter{
    display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }
  .cntr{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cntr img{
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }
  .counter .count {
    font-size: 40px !important;
    margin-bottom: 1rem;
    font-weight: 900;
}
}
.count .icon {
  flex-shrink: 0;        /* keep icon fixed size */
}

.count .number {
  display: flex;
  flex-direction: column;  /* number on top, p below */
  align-items: flex-start; /* align left */
  font-size: 24px;
  font-weight: bold;
}

.count .number span {
  font-weight: bold;
}

.count .number p {
  margin: 5px 0 0;
  font-size: 14px;
  font-weight: normal;
  color: #555;
      line-height: 20px;
}
.counter {
  margin: 0px 0;
}

.count {
  display: flex;
  align-items: center;   /* align icon and number vertically */
  gap: 15px;             /* space between icon & number */
}
.count {
  display: flex;
  align-items: center;  /* icon + number aligned */
  gap: 15px;
}

.count .icon {
  flex-shrink: 0;
}


.count .number .num-line {
  display: flex;
  align-items: flex-start;  /* number and + side by side */
  font-size: 24px;
  font-weight: bold;
}

.count .number .num-line .plus {
  margin-left: 3px;  /* small gap between number and + */
}

/* iPad Pro Portrait + Landscape */
@media (min-width: 1024px) and (max-width: 1366px) {
  .counter-wrapper1 div {
    background: #f9fafb;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.counter-wrapper1 {
    display: grid!important;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 0.5rem;
    padding: 0 3%;
    text-align: left;
}
}