.content-block {
    background-attachment: fixed;
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}



.content-container {
    width: 80%;
    margin: 0 auto;
}
.mb60{
  margin-bottom: 4rem;
}
.mt60{
  margin-top: 4rem;
}


.ImageListItemBar b{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 20px 0px 0px 0px;
}

#section-id-1576804020298 {
    padding-top: 225px;
    padding-right: 0px;
    padding-bottom: 8px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 0 0;
}

#sp-page-builder .sppb-section, #sp-page-builder .sppb-section {
    will-change: top;
}
#sp-page-builder  .sppb-section, #sp-page-builder .sppb-section, .mod-sppagebuilder .sppb-section {
    z-index: 1;
    position: relative;
}
.sppb-shape-container.sppb-top-shape {
    top: -1px;
}
.sppb-shape-container {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
    z-index: 2;
}
#section-id-1576804020298 .sppb-shape-container.sppb-top-shape > svg {
    width: 100%;
    max-width: 100%;
}
.sppb-shape-container svg {
    display: block;
    width: 100%;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
#section-id-1576804020298 .sppb-shape-container.sppb-top-shape > svg path, #section-id-1576804020298 .sppb-shape-container.sppb-top-shape > svg polygon {
    fill: #000000;
}
.sppb-shape-container.sppb-bottom-shape {
    bottom: -1px;
}
.sppb-shape-container {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
    z-index: 2;
}
.sp-page-builder .page-content #section-id-1576804020298 > .sppb-row-overlay {
    mix-blend-mode: normal;
}
.sp-page-builder .page-content #section-id-1576804020298 > .sppb-row-overlay {
    background-color: rgba(0, 0, 0, 0.5);
}
/* .sppb-row-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center center;
    background-repeat: repeat;
    z-index: 1;
} */
.sppb-row-container {
    max-width: 90%;
    margin: 0 auto;
}
.sp-pagebuilder-row, .sppb-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.sppb-col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
#column-id-1576804020328 {
    box-shadow: 0 0 0 0 #fff;
}
.sppb-column {
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.sppb-column, .sppb-column-addons {
    position: relative;
    z-index: 1;
    width: 100%;
}
.sppb-column, .sppb-column-addons {
    position: relative;
    z-index: 1;
    width: 100%;
}
#sppb-addon-wrapper-1584686635803 {
    margin: 10px 5% 0px 5%;
}
#sppb-addon-1584686635803 {
    font-size: 23px;
    line-height: 29px;
}
#sppb-addon-1584686635803 {
    color: #ffffff;
    box-shadow: 0 0 0 0 #ffffff;
}
.sppb-text-center {
    text-align: center;
}
.clearfix::after {
    display: block;
    clear: both;
    content: "";
}
#sppb-addon-1584686635803 .sppb-addon-title {
    /* font-family: "Roboto"; */
}
#sppb-addon-1584686635803 .sppb-addon-title {
    color: #ffffff;
    font-size: 55px;
    font-weight: 700;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
#sppb-addon-wrapper-1576804020331 {
    margin: 0px 0px 110px 0px;
}
.sppb-addon-single-image-container {
    display: inline-block;
    position: relative;
    transition: all .4s ease;
}
.sppb-text-center .sppb-img-responsive, .sppb-text-left .sppb-img-responsive, .sppb-text-right .sppb-img-responsive {
    display: inline-block;
}
.sppb-carousel-inner>.sppb-item>a>img, .sppb-carousel-inner>.sppb-item>img, .sppb-img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}








.container {
    width: 95%;
}

.block.block-nfts-across-uk {
    padding: 2rem 0 2rem 0;
}
.block {
    position: relative;
    --content-color: #000000;
    padding: 3rem 0;
    color: #000;
}
.container {
    margin: 0 auto;
    padding: 0 00px;
}

[class*="col-"] {
    padding: 20px;
}
.col-sm-4 {
    box-sizing: border-box;
    -ms-flex-preferred-size: 33.3333333333%;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1rem;
}
.block.block-nfts-across-uk .title {
    font-size: 50px;
    line-height: 1;
    color: #fff;
    margin-top: 5px;
    margin-bottom: 0;
    font-weight: 800;
    line-height: 1.4;
    word-break: break-word;
    color:#fff;
    text-transform: uppercase;
    letter-spacing: 0px;
    text-shadow: 0 0 BLACK;
    display:contents;
}
.col-sm-8 {
    box-sizing: border-box;
    -ms-flex-preferred-size: 66.6666666667%;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1rem;
}
.block.block-nfts-across-uk .field--name-field-hubs {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.block.block-nfts-across-uk .field--name-field-hubs .field__item {
    width: 33%;
    padding: 8px;
    height: 16rem;
}
.teaser.node--teaser-alt {
    position: relative;
    height: 100%;
    width: 100%;
    max-height: 100%;
    transition: border 0.3s ease-in-out;
    display: block;
    z-index: 9;
}
.teaser.node--teaser-alt .teaser__img {
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}
.teaser.node--teaser-alt .teaser__img:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url(../assets/img/A21.jpeg);
    background-size: cover;
    transition: all 0.3s ease-in-out;
    background-position: bottom;
}
.teaser.node--teaser-alt .teaser__img:after {
    content: '';
    transition: all 0.3s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000000;
    opacity: 1;
    background: linear-gradient(180deg,transparent 0%,#000000 100%);
}
.teaser.node--teaser-alt .teaser__img .teaser--meta {
    position: relative;
}


.teaser.node--teaser-alt .teaser__img1 {
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}
.teaser.node--teaser-alt .teaser__img1:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url(../assets/img/a3.webp);
    background-size: cover;
    transition: all 0.3s ease-in-out;
    background-position: top;
}
.teaser.node--teaser-alt .teaser__img1:after {
    content: '';
    transition: all 0.3s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000000;
    opacity: 1;
    background: linear-gradient(180deg,transparent 0%,#000000 100%);
}
.teaser.node--teaser-alt .teaser__img1 .teaser--meta {
    position: relative;
}




.teaser.node--teaser-alt .teaser__img2 {
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}
.teaser.node--teaser-alt .teaser__img2:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url(../assets/img/a7.webp);
    background-size: cover;
    transition: all 0.3s ease-in-out;
    background-position: top;
}
.teaser.node--teaser-alt .teaser__img2:after {
    content: '';
    transition: all 0.3s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000000;
    opacity: 1;
    background: linear-gradient(180deg,transparent 0%,#000000 100%);
}
.teaser.node--teaser-alt .teaser__img2 .teaser--meta {
    position: relative;
}





.teaser.node--teaser-alt .teaser__img3 {
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}
.teaser.node--teaser-alt .teaser__img3:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url(../assets/img/a4.webp);
    background-size: cover;
    transition: all 0.3s ease-in-out;
    background-position: top;
}
.teaser.node--teaser-alt .teaser__img3:after {
    content: '';
    transition: all 0.3s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000000;
    opacity: 1;
    background: linear-gradient(180deg,transparent 0%,#000000 100%);
}
.teaser.node--teaser-alt .teaser__img3 .teaser--meta {
    position: relative;
}



.teaser.node--teaser-alt .teaser__img4 {
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}
.teaser.node--teaser-alt .teaser__img4:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url(../assets/img/a5.webp);
    background-size: cover;
    transition: all 0.3s ease-in-out;
    background-position: top;
}
.teaser.node--teaser-alt .teaser__img4:after {
    content: '';
    transition: all 0.3s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000000;
    opacity: 1;
    background: linear-gradient(180deg,transparent 0%,#000000 100%);
}
.teaser.node--teaser-alt .teaser__img4 .teaser--meta {
    position: relative;
}




.teaser.node--teaser-alt .teaser__img5 {
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}
.teaser.node--teaser-alt .teaser__img5:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url(../assets/img/a2.webp);
    background-size: cover;
    transition: all 0.3s ease-in-out;
    background-position: top;
}
.teaser.node--teaser-alt .teaser__img5:after {
    content: '';
    transition: all 0.3s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000000;
    opacity: 1;
    background: linear-gradient(180deg,transparent 0%,#000000 100%);
}
.teaser.node--teaser-alt .teaser__img5 .teaser--meta {
    position: relative;
}












.teaser.node--teaser-alt .teaser--meta {
    height: 100%;
    z-index: 1;
}
.block.block-nfts-across-uk .field--name-field-hubs .field__item .teaser--meta__content {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.teaser.node--teaser-alt .teaser--meta__content {
    padding: 1.0rem 3rem;
}
.teaser--meta__content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.block.block-nfts-across-uk .field--name-field-hubs .field__item .teaser--meta h2, .block.block-nfts-across-uk .field--name-field-hubs .field__item .teaser--meta main .block-course .field__label, main .block-course .block.block-nfts-across-uk .field--name-field-hubs .field__item .teaser--meta .field__label {
    font-size: 1.2rem;
    text-transform: uppercase;
    line-height: 24px;
    font-weight: 600;
}
.teaser.node--teaser-alt .teaser--meta h2, .teaser.node--teaser-alt .teaser--meta main .block-course .field__label, main .block-course .teaser.node--teaser-alt .teaser--meta .field__label {
    color: #FFFFFF;
    background-color: transparent;
    margin: 0;
    font-size: 2.8rem;
}
.teaser--meta h2, .teaser--meta main .block-course .field__label, main .block-course .teaser--meta .field__label {
    max-width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}
.block.block-nfts-across-uk .field--name-field-hubs .field__item .teaser--meta h2 span, .block.block-nfts-across-uk .field--name-field-hubs .field__item .teaser--meta main .block-course .field__label span, main .block-course .block.block-nfts-across-uk .field--name-field-hubs .field__item .teaser--meta .field__label span {
    color: #f9f9f9;
    display: block;
    font-size: 17px;
    font-weight: bold;
    text-align: left;
}
.teaser--meta__content > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent: -10000px;
    border: none !important;
    color: transparent;
    background-color: transparent;
    z-index: 3;
}
.teaser--meta h2, .teaser--meta main .block-course .field__label, main .block-course .teaser--meta .field__label, .teaser--meta p, .teaser--meta a {
    color: #fff;
    background-color: transparent !important;
}

section#section-16878425631230::before {
    content: "";
    position: absolute;
    top: 10px;
    
    width: 298px;
    height: 256px;
    z-index: 0;
    background-size: 298px;
  }
  
  section#section-16878425631230::after {
    content: "";
    position: absolute;
    bottom: 10px;
    width: 298px;
    height: 256px;
    z-index: 0;
    background-size: 298px;
    right: 0px;
  }















  .highlights-block {
    --margin-bottom: 80px;
    margin: 0 auto 80 auto;
    width: min(1280px,100%);
}
.highlights {
    --size: 180px;
}
.highlights {
    --size: 130px;
    --offset: calc(var(--size)*0.75);
    --shift: calc(var(--size)*0.21);
    position: relative;
}
.highlights .title {
    bottom: 300px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    z-index: 2;
}
.section-title {
    font-family: var(--CircularBold),Helvetica,sans-serif;
    font-weight: 400;
    margin-block-end: 1em;
    text-transform: uppercase;
}
.section-title:before {
    border-left-color: #ffd40b;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    border-width: 7.5px 0 7.5px 12px;
}
.section-title:after {
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: #ffd40b;
    border-top-color: transparent;
    border-width: 7.5px 12px 7.5px 0;
}
.awds{
    background: #000;
}
.row-title h3 {
    font-size: 50px;
    letter-spacing: 0px;
    color: #ffffff;
    line-height: 0% !important;
}













.contentp p{
    color: #fff;
    z-index: 999;
    position: absolute;
}


.content-year {
    padding: 5px;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
}

.awadstest h1{
        font-size: 50px;
        line-height: 1;
        color: #000;
        margin-top: 5px;
        margin-bottom: 20px;
        font-weight: 800;
        line-height: 1.4;
        word-break: break-word;
        text-transform: uppercase;
        letter-spacing: 0px;
        text-shadow: 0 0 BLACK;
        text-align: center;
        width: 100%;
}
.awadstest{
    margin: 3rem 0rem;
}
.contentp {
    margin: auto 0;
    padding: 5px;
    color: #000;
    font-size: 18px;
    height: 100%;
    display: block;
    position: relative;
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.contentp p {
    display: flex;
    height: 100%;
    margin: auto 0;
    font-size: 13px;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
    text-align: center;
    align-items: center;
}

.content-half-circle {
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: #076a7f;
    width: 50px;
    height: 20px;
    z-index: 9999;
}
.containergawardh {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 0px;
width: 65%;
    margin: 0px auto;
}

.cardsgawardh {
  position: relative;
  background-color: #cce0f5;
  border: 0px solid #000;
  border-radius: 20px;
  overflow: hidden;
  max-height: 246px; /* reduced height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:310px;
  margin: 0px auto;
}


.cardsgawardh img {
    width: 100%;
    max-height: 255px;
    object-fit: contain;
    border-radius: 12px;
    margin: 0 auto;
    display: block;
}
.cardsgawardh p {
      position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 34px;
    font-weight: bold;
    opacity: 0.9;
    background: rgba(0, 0, 0, 24%);
    padding: 100%;
    border-radius: 6px;
}
.overlaysawardh {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(12 5 5 / 84%);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  transition: bottom 2s ease;
  flex-direction: column;
}
.overlaysawardh h3 {
  font-size: 20px;
  font-weight: 900;
}
.overlaysawardh p{
  font-size: 15px;
  font-weight: 900;
}
.cardsgawardh:hover{
  transform: scale(1.05);
}
.cardsgawardh:hover .overlaysawardh {
  bottom: 0;
}

  @media only screen and (max-width : 1024px) {
  .containergawardh {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: 90%;
    display: flex;
    scrollbar-width: thin;
  }

  .cardsgawardh {
    width: 90%; /* Show one card fully */
    flex: 0 0 100%; /* Prevent multiple from fitting */
    margin-right: 10px;
    scroll-snap-align: center; /* Snap the card to center on scroll */
    margin-bottom: 20px;
  }
  .cardsgawardh img {
    width: 100%;
    max-height: fit-content;
    object-fit: contain;
    border-radius: 12px;
    margin: 0 auto;
    display: block;
}
  }
  