.responsive-gallery {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.gallery-grid.desktop {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.gallery-grid.mobile {
  display: flex;
  justify-content: center;
}

.gallery-itembn {
  display: flex;
  justify-content: center;
}

.gallery-image1 {
  width: 100%;
  transition: transform 0.3s ease-in-out;
  object-fit: contain;
  object-position: top;
}

.dotsbn {
  text-align: center;
  margin-top: 16px;
}
.containergbn {
  max-width: 83rem;
  margin: 0 auto;
  padding: 0 2rem 0rem;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 6px;
  background-color: #333;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #bbb;
}
@media (max-width: 768px) {
.containergbn {
    max-width: 83rem;
    margin: 0 auto;
    padding: 0 1rem 0rem !important;
}
}