.content-block3 {
  background-attachment: fixed;
  background-position: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 30px 0px;
  background: #ffffff;
}

.card:hover .sci li {
  transform: translateY(0px);
  opacity: 1;
}

.content-block2 {
  background: #ffffff;
  background-attachment: fixed;
  background-position: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 4rem 0px 4rem 0px;
}

.embla31 {
  max-width: 100%;
  margin: auto;
  --slide-height: auto;
  --slide-spacing: 0rem;
  --slide-size: 100% !important;
  margin: 0 auto;
  position: relative;
}

.embla__viewport31 {
  overflow: hidden;
}

.embla__container31 {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(1rem * -1);
}

.embla__slide__number31 {

  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  user-select: none;
}


.embla__button31:disabled {
  color: var(--detail-high-contrast);
}

.embla__button__svg31 {
  width: 65%;
  height: 65%;
}

.embla__slide__number31 {
  backface-visibility: hidden;
}

.embla__controlss31 {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  grid-gap: 1.2rem;
  gap: 1.2rem;
  margin-top: 1.8rem;
}

.embla__buttonss31 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.6rem;
  gap: 0.6rem;
  align-items: center;
  position: absolute;
  z-index: 99;
  top: 55%;
  width: 91%;
  left: 4%;
  margin: 0 auto;
}

.embla__button--prevs31 {
  left: 0px;
  position: absolute;
}

.embla__button--nexts31 {
  right: 0px;
  position: absolute;
}

.embla__button--prevsss31 {
  left: -50px;
  position: absolute;
}

.embla__button--nextsss31 {
  right: -70px;
  position: absolute;
}