.content-block {
    background-attachment: fixed;
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.content-block1{
  background: url(../assets/img/footer-illus.webp);
  margin-bottom: 4rem;
  margin-top: 4rem;
}


.content-container {
    width: 80%;
    margin: 0 auto;
}
.mb60{
  margin-bottom: 4rem;
}
.mt60{
  margin-top: 4rem;
}


 .section-title {
    text-align: center;
    margin: 0px 0px;
}
.section-title .pre-title {
  font-weight: 800;
  font-size: 16px;
  line-height: 26px;
  color: #ED1B24;
  display: inline-block;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: .1em;
}
.section-title .title {
  margin-top: 0px;
    margin-bottom: 0;
    font-size: 42px;
    font-weight: 800;
    line-height: 1.4;
    word-break: break-word;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 0px;
    text-shadow: 0 0 BLACK;
}
.embla3 {
  max-width: 100%;
  margin: auto;
  --slide-height: auto;
  --slide-spacing: 0rem;
  --slide-size: 100% !important;
  margin: 0 auto;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(1rem * -1);
}

.embla__slide__number {
 
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  user-select: none;
}


.embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__button__svg {
  width: 65%;
  height: 65%;
}
.embla__slide__number {
  backface-visibility: hidden;
}
.embla__controlss {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  grid-gap: 1.2rem;
  gap: 1.2rem;
  margin-top: 1.8rem;
}

.embla__button--prevs {
  left: 0px;
  position: absolute;
}
.embla__button--nexts {
  right: 0px;
  position: absolute;
}
.embla__button--prevsss {
  left: -50px;
  position: absolute;
}
.embla__button--nextsss {
  right: -70px;
  position: absolute;
}
.w-slide {
  vertical-align: top;
  width: 100%;
  height: 100%;
  white-space: normal;
  text-align: left;
  display: inline-block;
  transform: translateX(0px);
    opacity: 1;
  position: relative;
}
.w-slides {
  vertical-align: top;
  width: 95%;
  height: 100%;
  white-space: normal;
  text-align: left;
  display: inline-block;
  transform: translateX(0px);
    opacity: 1;
  position: relative;
}
.testimonial-columns {
  display: flex;
}
.testimonial-image-block {
  width: 00%;
  min-height: 350px;
  justify-content: center;
  align-items: center;
  padding: 0px;
  display: flex;
  position: relative;
  opacity: 1;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}

.testimonial-content-block {
  max-width: 100%;
  position: relative;
}
.quote-image {
  min-width: 70px;
  position: absolute;
  top: -25px;
  left: -15px;
}

.testimonial-author-wrap {
  width: 100%;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.logos {
  width: 114px;
  margin-bottom: 8px;
  border-radius: 50%;
  object-fit: cover;
}
