.courses-container {
    width: 90%;
    margin: 0 auto;
}
.courseBanner{
    width: 100%;
    height: 450px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #020202;
}
.courseBanner img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
h3.courses-title {
    text-align: center;
    font-size: 48px;
    margin: 40px 0 40px 0;
    font-weight: 600;
    position: relative;
    align-self: center;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

/* h3.courses-title::after {
    content: "";
    width: 120%;
    height: 2px;
    border-bottom: 2px dotted #c91b2b;
    bottom: -15px;
    transition: .5s width ease;
    position: absolute;
    left: -10%;
    right: -10%;
    margin: 0 auto;
    animation-name: growIn;
    animation-duration: .45s;
    animation-fill-mode: both;
    animation-delay: .7s;
} */
.courses-wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.courses-subtitle{
    font-size: 20px;
    font-weight: 500;
}
.courses-wrapper-inner{
    text-align: center;
}
.quote-link{
    font-style: italic;
    font-size: 15px;
    color : #c91b2b;
}
@media only screen and (max-width: 720px) {
    .courses-container {
        width: 90%;
    }
    .benfitIcon img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
      padding: 3px;
  }
}

@media only screen and (min-width: 720px) and (max-width: 992px) {
    .courses-container {
        width: 90%;
    }
}

.infinite-scroll-component {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    width: 100%;
    padding: 3px !important;
}
.footercard {
    z-index: 1;
    position: absolute;
    height: 180px;
    width: 100%;
    bottom: 0;
}

.process {
    width: 100%;
    padding: 0 15px;
    text-align: center;
    margin: 15px 0px 30px;
  }
  .process__itemf {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-align: center;
    position: relative;
    padding: 15px 35px;
    transition: 0.4s ease-in-out;
    box-shadow: 10px 4px 15px rgba(0, 0, 0, 0.1);
  }
    .process__itempartner {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-align: center;
    position: relative;
    padding: 0px 12px;
    transition: 0.4s ease-in-out;
    box-shadow: 10px 4px 15px rgba(0, 0, 0, 0.1);
  }
  .process__itemf:hover {
    background: #f9fafb;
  }
  .process__itemf:hover .process__numberfinance {
    transform: translateY(0px);
    color: #fff;
    -webkit-text-stroke: 1px #fff;
  }
  .process__numberfinance {
    font-size: 24px;
    display: block;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 700;
    transition: 0.4s 
ease-in-out;
    position: absolute;
    background: #eb1a23;
    left: 10px;
    top: 13%;
    width: 70px;
    border-radius: 50%;
    height: 70px;
    line-height: 69px;
    border: 2px solid #eb1a23;
    color:#fff;
}
  .process__titlef {
    display: block;
    /* font-family: "Roboto Condensed"; */
    font-weight: 700;
    letter-spacing: 1.5px;
    font-size: 19px;
    color: #000;
    text-transform: capitalize;
    margin-top: 80px;
    width: 100%;
    text-align: left;
}
.process__subtitlef {
    display: block;
    /* font-family: "Josefin Slab"; */
    font-size: 16px;
    color: #000;
    margin-top: 10px;
    line-height: 1.5;
    text-align: justify;
    font-weight: 500;
}
  
  @media (min-width: 768px) {
    .process {
      display: inline-block;
    }
    .process__itemf {
      width: 49%;
      display: inline-block;
      background: #ffffff;
      border: 1px solid #222;
      margin-right: 10px;
      border-radius: 35px;
    }
     .process__itempartner {
      width: 49%;
      display: inline-block;
      background: #ffffff;
      border: 1px solid #222;
      margin-right: 10px;
      border-radius: 35px;
    }
  }
  @media (min-width: 1200px) {
    .process {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .process__itemf {
      width: 100%;
    }
  .process__itempartner {
      width: 100%;
    }
  }
.benfits{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
 
  margin-bottom: 20px;
}
.benfits li{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 7px;
  margin-right: 10px;
}
.benfitIcon{
      width: 54px;
    height: 54px;
    margin-right: 10px;
    background: #fff;
    border-right: 1px solid #000;
    border: 1px solid #eb1a23;
    border-radius: 50%;
    padding: 7px;
}
.benfitIcon img{
  width: 100%;
  height: 100%;
}
.benfitContent{
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 20px;
  color: #000;
  border-radius: 10px;
  width: fit-content;
  font-size: 18px;
  font-weight: 500;
    background: #f9fafb;
    z-index: 1;
    box-shadow: 0 2px 15px 0px rgba(0, 0, 0, 0.1);
  }
.adminissionPTag1{
  width: 80%;
  margin: 0 auto;
  margin-bottom: 0px;
  color: #000;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
  
  h3.financial-title {
    text-align: center;
    font-size: 32px;
    margin: 40px 0 10px 0;
    font-weight: 600;
    position: relative;
    align-self: center;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}
.courseUpdates3 ul{
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 40px;
  width: 80%;
  margin-top: 0px;
  column-gap: 50px;
}
.courseUpdates3 ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 117px;
    border-radius: 15px;
    width: 100%;
    padding: 0px 20px 33px 20px;
    border: 1px solid #ffffff;
    background: #ffffff;
    box-shadow: 0 2px 15px 0px rgba(0, 0, 0, 0.1);
}
.courseUpdates3 ul li img {
  width: 40px;
  height: 68px;
  object-fit: scale-down;
  object-position: center;
  animation: updown 0s ease infinite;

}
.courseUpdates3 ul li p {
  font-size: 20px;
  font-weight: 800;
  text-align: center;
}
.courseUpdates3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}
.recuitersList img {
  width: 220px;
    object-fit: contain;
    height: 80px;
    padding-left: 10px;
    padding-right: 10px;
    object-fit: contain;
    object-position: center center;
}

.rfm-child {
  transform: perspective(300px) translate3d(0, 0, 0);
  background: none;
  margin-right: 15px;
  margin-left: 15px;
  height: auto;
  border-radius: 6px;
  padding: 10px;
  display: flex;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 8px;
}

#infinity {
  position: absolute;
  width: 100px;
  height: 70px;
  box-sizing: content-box;
  top: -10px;
  left: -10px;
  background: none;
}



#infinity1 {
  position: absolute;
  width: 100px;
  height: 70px;
  box-sizing: content-box;
  top: -51px;
  left: -10px;
  background: #fff;
}


#infinity2 {
  position: absolute;
  width: 100px;
  height: 70px;
  box-sizing: content-box;
  top: -51px;
  left: -10px;
  background: #fff;
}

#infinity3 {
  position: absolute;
  width: 100px;
  height: 70px;
  box-sizing: content-box;
  top: -51px;
  left: -10px;
  background: #fff;
}

.askus{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  margin: 0px auto;

}
.askus li{
     margin-right: 20px;
    background: linear-gradient(to bottom, #eb1a23 0%, #ec1923 100%);
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    padding: 0px 28px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: inline-flex
;
    align-items: center;
}
.askus li img{
  width: 50px;
  height: 50px;
  margin-right: 10px;
}


.askus li p a{
  font-weight: 500;
  font-size: 19px;
  margin-bottom: 0px;
  margin-top: 0px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.askus svg{
color: #fff;
font-size: 25px;
margin-right: 10px;
}


.whtsmain{
  display: block;
  align-items: center;
  justify-content: center;
}
.askus li:hover a {
  color: #fff; 
      box-shadow: rgb(237 25 35 / 0%) 0px 0px 29.5299px 0px, rgb(237 25 35 / 13%) 0px 0px 59.0599px 0px, rgb(237 25 35 / 13%) 0px 0px 88.5898px 0px;
}
.askus li:hover svg {
  color: #fff;
      box-shadow: rgb(237 25 35 / 0%) 0px 0px 29.5299px 0px, rgb(237 25 35 / 13%) 0px 0px 59.0599px 0px, rgb(237 25 35 / 13%) 0px 0px 88.5898px 0px;
}
.askuss li:hover {
    color: #fff;
    background: #ec1925;
    box-shadow: rgb(237 25 35 / 0%) 0px 0px 29.5299px 0px, rgb(237 25 35 / 13%) 0px 0px 59.0599px 0px, rgb(237 25 35 / 13%) 0px 0px 88.5898px 0px;
}
@media only screen and (max-width : 1024px){
  .processpartner {
    width: 90% !important;
    padding: 0 15px;
    text-align: center;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
  }
  .process__itemf:hover{
      transform: none !important;
  }
  .benfits {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    flex-direction: column;
}
  .mainHeadingTotal svg {
    border: 1px solid #fff;
    width: 57px !important;
    height: 57px !important;
    color: #fff;
}
  .bgicofin {
    background: #ccc;
    width: 55px !important;
    height: 55px !important;
    border: 1px solid #ccc;
    border-radius: 50px;
    top: -8px !important;
    position: relative;
}
  .courseUpdates3 ul li img {
    width: 40px !important;
    height: 54px !important;
    object-fit: scale-down;
    object-position: center;
    animation: updown 0s ease infinite;
    padding: 4px;
}
.courseUpdates3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px !important;
}
 .process__numberfinance {
    font-size: 24px !important;
    display: block;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 700;
    transition: 0.4s ease-in-out;
    position: absolute;
    background: #eb1a23;
    left: 150px;
    top: 20% !important;
    width: 50px;
    border-radius: 50%;
    height: 50px;
    line-height: 50px;
    box-shadow: 10px 4px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
}
#infinity {
    position: absolute;
    width: 100px;
    height: 70px;
    box-sizing: content-box;
    top: 0px;
    left: 0px;
    background: none;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
  .mgrid{
    grid-template-columns: repeat(2, 1fr) !important;
    
}
.formGridfs label {
  color: #fff;
  font-size: 14px !important;
  margin-bottom: 10px;
  display: flex;
  letter-spacing: 1px;
  width: 100%;
}

  .process__subtitlef {
    display: block;
    /* font-family: "Josefin Slab"; */
    font-size: 16px!important;
    color: #000;
    margin-top: 10px;
    line-height: 30px;
    text-align: left;
    font-weight: 500;
}
  .courseUpdates3 ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-row-gap: 40px; */
    /* row-gap: 40px; */
    width: 94%;
    margin-top: 0px;
    /* grid-column-gap: 50px; */
    column-gap: 18px !important;
    flex-direction: column;
}
  .adminissionPTag1 {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 0px;
    color: #000;
    text-align: justify;
    font-size: 16px;
    font-weight: 500;
  
}
.courseUpdates3 ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 133px;
  border-radius: 15px;
  width: 100%;
  /* padding: 30px 20px 10px 20px; */
}
.process__titlef {
  display: block;
  /* font-family: "Roboto Condensed"; */
  font-weight: 700;
  letter-spacing: 1.5px;
  font-size: 19px;
  color: #000;
  text-transform: capitalize;
  margin-top: 64px;
  width: 100%;
  text-align: left;
}
.process {
  width: 100%;
  padding: 0 0px;
  text-align: center;
  margin: 0px 0px;
}
.process__itemf {
  -webkit-user-select: none;
  user-select: none;
  text-align: center;
  position: relative;
  padding: 13px 35px;
  transition: 0.4s ease-in-out;
  margin-top: 16px !important;
  background: #f9fafb;
}
.courseUpdates3 ul li p {
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  margin: 7px;
}
.whtsmain {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.benfits li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 7px;
  width: 100%;
  margin-right: 10px;
}
.benfitContent {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 20px;
  color: #000;
  border-radius: 10px;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
     background: #f9fafb;
    z-index: 1;
    box-shadow: 0 2px 15px 0px rgba(0, 0, 0, 0.1);
}
}

.finfrm form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem 2rem;
  background: #222;
  padding: 2rem;
  border-radius: 10px;
  max-width: 700px;
  margin: auto;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.finfrm label {
  text-align: right;
  padding-top: 0.5rem;
}

.finfrm input, select {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #f7f0f0;
  border-radius: 5px;
  width: 100%;
}

.full-width {
  grid-column: span 2;
  text-align: center;
}

.full-width button {
  padding: 0.7rem 2rem;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.full-width button:hover {
  background-color: #0056b3;
}

.formGridfs {
  width: 90%;
  display: flex;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1rem;
  padding: 0.7rem 0% 0rem 0%;
}

.formGridfs label {
  color: #fff;
  font-size: 17px;
  margin-bottom: 10px;
  display: flex;
  letter-spacing: 1px;
  width: 100%;
}

.formGridfs select {
  background: none;
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 2px;
  height: 42px;
  display: block;
  color: #000;
  font-size: 16px;
}

.formGridfs select option {
  font-size: 12px;
  font-weight: 800;
  color: #000;
}

.formGridfs select option:hover {
  font-size: 12px;
  font-weight: 800;
  color: #000;
}
.callu{
  padding: 10px 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.callmaindiv{
  width:max-content;
}
.bgicofin{
    background: #ccc;
    width: 68px;
    height: 68px;
    border: 1px solid #ccc;
    border-radius: 50px;
        top: -0px;
    position: relative;

}
.bgicofin img{
      width: 67px;
    height: 66px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainHeadingTotal svg{
      border: 1px solid #fff;
    width: 72px;
    height: 72px;
    color: #fff;
}
.mainHeadingTotal span{
  padding: 10px;
  color:#eb1a23;
}
.process__itemf:hover{
   
    position: relative;
    z-index: 111111;
    width: 100%;
   
}
.mainbenfits{
  background: #f9fafb;
    padding: 1px 0px 20px;
    margin-top: 0px;
    box-shadow: 0 2px 15px 0px rgba(0, 0, 0, 0.1);
}
.processpartner {
    width: 60%;
    padding: 0 15px;
    text-align: center;
    margin: 0px auto;
    display: flex;
  }