.suprts {
  width: 65%;
  margin: 0 auto;
  margin-bottom: 50px;
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  margin-top: 30px;
}


.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.gll {
  margin: 0px auto;
  --_size: 80px; /* width and heigh of iamges */
  --_grid-cols: repeat(3, 1fr);
  --_grid-areas: "large large large" "large large large" "large large large"
    "thumb-1 thumb-2 thumb-3" "thumb-4 thumb-5 thumb-6"
    "thumb-7 thumb-8 thumb-9";
  --_gap: 0.5rem;
  --_info-top: 0;
  --_info-bottom: auto;
  --_info-translate: -100px;

  width: 100%;
  max-width: 77%;
  min-width: 66%;
  display: grid;
  grid-template-columns: var(--_grid-cols);
  grid-template-areas: var(--_grid-areas);

  gap: var(--_gap);
  position: relative;
  overflow: hidden;
}
@media (min-width: 720px) {
  .gll {
    --_size: 346px;
    --_grid-cols: repeat(3, 0.3fr);
    --_grid-areas: "thumb-1 thumb-2 thumb-3 large large large"
      "thumb-4 thumb-5 thumb-6 large large large"
      "thumb-7 thumb-8 thumb-9 large large large";
    --_info-top: auto;
    --_info-bottom: 0;
    --_info-translate: 100px;
  }
}

.gll > .g1 {
  cursor: pointer;
  height: var(--_size);
  aspect-ratio: 1;
}
.gll > .g1:nth-child(1) {
  grid-area: thumb-1;
}
.gll > .g1:nth-child(2) {
  grid-area: thumb-2;
}
.gll > .g1:nth-child(3) {
  grid-area: thumb-3;
}
.gll > .g1:nth-child(4) {
  grid-area: thumb-4;
}
.gll > .g1:nth-child(5) {
  grid-area: thumb-5;
}
.gll > .g1:nth-child(6) {
  grid-area: thumb-6;
}
.gll > .g1:nth-child(7) {
  grid-area: thumb-7;
}
.gll > .g1:nth-child(8) {
  grid-area: thumb-8;
}
.gll > .g1:nth-child(9) {
  grid-area: thumb-9;
}

.gll > .g1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 500ms ease-in-out;
}
.gll > .g1 > div {
  position: absolute;
  right: 0;
  top: var(--_info-top);
  bottom: var(--_info-bottom);
  width: calc((var(--_size) * 3) + var(--_gap) * 2);
  z-index: 10;
  background-color: #00000099;
  padding: 1rem;
  font-size: 0.85rem;
  font-weight: 300;
  opacity: 0;
  translate: 0 var(--_info-translate);
  transition: 300ms ease-in-out;
}
.gll > .g1 > div h2 {
  font-size: 1rem;
  font-weight: 500;
}
.gll > .g1 > div a {
  color: white;
  transition: scale 300ms;
  display: inline-block;
  transform-origin: bottom left;
}
.gll > .g1 > div a:hover {
  scale: 1.25;
}


.gll > .g1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: calc((var(--_size) * 3) + var(--_gap) * 2);
  height: calc((var(--_size) * 3) + var(--_gap) * 2);
  aspect-ratio: 1;
  background-image: var(--bg-img);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.lngimg{
  height: 760px !important;
}
.imgwid{
  width:750px !important;
}
.bgimage{
  background-position: center;
}
.conthead{
  line-height: 70px;
  font-size: 48px;
  text-align: center;
}
.videomain1{
  width: 100%;
  height:100%;
 
}


.overlay-image1 {
  position: absolute;
  top: -12px;
  width: 100%;
  opacity: 1;
  margin-top: 30px;
  left:0px;
}

.advvideo{
  margin-top: 39px;
}
  .mbview{
    display: none;
  }
  .mbimgland svg{
    font-size: 20px;
    color: #fff;

  }

  @media only screen and (max-width : 1024px){
    .mbview{
      display: block !important;
    }
  .advvideo{
    margin-top: -16px;
  }
  .overlay-image2{
    width: 100%;
    position: absolute;
    width: 100%;
    opacity: 0.9;
    margin-top: 00px;
    left: 0px;
}
  }