.suprtsF {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
  color: #000;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.suprtsF img{
  width: 30px;
  margin-right: 20px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
  
}

.gll {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1.5rem;
  width: 90%;
  margin: 0px auto;

}
/* @media (min-width: 720px) {
  .gll {
    --_size: 376px;
    --_grid-cols: repeat(3, 1fr);
    --_grid-areas: "thumb-1 thumb-2 thumb-3 large large large"
      "thumb-4 thumb-5 thumb-6 large large large"
      "thumb-7 thumb-8 thumb-9 large large large";
    --_info-top: auto;
    --_info-bottom: 0;
    --_info-translate: 100px;
  }
} */

.gll > .g1h {
  cursor: pointer;
  height: 300px;
 
}

.gll > .g1h img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 500ms ease-in-out;
}
.gll > .g1h > div {
  position: absolute;
  right: 0;
  top: var(--_info-top);
  bottom: var(--_info-bottom);
  width: calc((var(--_size) * 3) + var(--_gap) * 2);
  z-index: 10;
  background-color: #00000099;
  padding: 1rem;
  font-size: 0.85rem;
  font-weight: 300;
  opacity: 0;
  translate: 0 var(--_info-translate);
  transition: 300ms ease-in-out;
}
.gll > .g1h > div h2 {
  font-size: 1rem;
  font-weight: 500;
}
.gll > .g1h > div a {
  color: white;
  transition: scale 300ms;
  display: inline-block;
  transform-origin: bottom left;
}
.gll > .g1h > div a:hover {
  scale: 1.25;
}


.gll > .g1h::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: calc((var(--_size) * 3) + var(--_gap) * 2);
  height: calc((var(--_size) * 3) + var(--_gap) * 2);
  aspect-ratio: 1;
  background-image: var(--bg-img);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}
.lngimg{
  height: 760px !important;
}
.imgwid{
  width:750px !important;
}
.text-txt100 {
  --tw-text-opacity: 1;
  font-weight: 700;
  font-size: 19px;
  text-align: center;
}
.mainCourseRight1 {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-left: 3%;
  flex-direction: column;
}
.mainCourse1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 2px;
  margin-bottom: 0px;
  margin: 0 auto;
  box-shadow: 10px 5px 15px 15px rgba(0, 0, 0, 0.1);
  background: #f9fafb;
}
.mainCourseRight1 p {
  color: #000;
  font-size: 19px;
  text-transform: math-auto;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 10px;
  line-height: 30px;
  width: 90%;
}
.mainCourseRight1 h2 {
  color: #ec1923;
  font-size: 27px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.mainCourseRight1 h2 svg{
  margin-right: 20px;
  color:#ec1923
}
.benfits1{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
  background: #f9fafb;
  padding: 20px;  

}
.benfitIcon1{
  width: 50px;
  height: 50px;
  margin-right: 7px;
}
.benfitIcon1 img{
  width: 90%;
}
.benfitContent1 {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 0px;
  color: #000;
  border-radius: 10px;
  width: 1000px;
  font-size: 16px;
  font-weight: 500;
}
.benfits1 li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.HostelMain1{
  width: 545px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
    padding: 18px;
   border:1px solid#666;
    padding: 18px;
    border-radius: 14px;
    color:#000;
}
.HostelMainleft{
  color: #000;
  font-size: 22px;
}
.HostelMainright a{
  color: #fff;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.HostelMainright a svg{
  color: #fff;
    font-size: 29px;
    margin-right: 10px;
}
@media only screen and (max-width : 1024px){
  .mbimg{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-direction: column;

  }
  .HostelMainleft {
    color: #000;
    font-size: 22px;
    height: 150px;
    padding: 20px 0px;
}
  .mbimg img{
    width: 100%;
  }
  .suprtsF {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
    color: #000;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainCourseRight1 p {
  color: #000;
  font-size: 18px;
  text-transform: math-auto;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 10px;
  line-height: 30px;
  width: 90%;
}
.benfitIcon1 {
  width: 50px;
  height: 50px;
  margin-left: 12px;
  margin-right: 10px;
}
.benfitContent1 {
  height: 87px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0px;
  color: #000;
  border-radius: 10px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  margin-top: 23px;
}
.benfits1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
  background: #f9fafb;
  /* padding: 20px; */
}
.HostelMain1 {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px;
  border: 1px solid#666;
  padding: 0px;
  margin: 0px auto;
  border-radius: 14px;
  flex-direction: column;
}
.HostelMainright a {
  color: #fff;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 64px;
  margin-top: -19px;
}
}

.HostelMainright a svg:hover{
  color:#ec1923;
}

